.widget {
    width: 50%;
    border: solid 1px var(--border-color);
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 4px var(--shadow-color);

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.widget > h3 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.widget > p {
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    margin-bottom: 20px;
}

.button {
    display: flex;
    gap: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    width: 100%;
}