.featuresWidget {
    display: flex;
    justify-content: space-around;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    max-width: 200px;
    align-items: center;
    text-align: center;
}