.authorWidget {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.authorWidget > p {
    text-align: justify;
}

.authorWidget > span {
    color: var(--accent-color);
}

.icon {
    min-width: 50px;
    min-height: 50px;
}

.link {
    align-self: flex-end;
    color: black;
}