.datePicker {
    background-color: white;
    border-radius: 5px;
}

.form {
    display: flex;
    gap: 30px;
    margin: 10px;
    align-self: flex-start;
}

.form > div {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
}